h1 {color: lightcoral}
html, body {min-height: 80%}
body {
    background-color: #ffebcd;
    border: 3px hotpink dotted;
}

.split {
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    text-align: center;
}

.centered {
    text-align: center;
}

.page-text {
    text-align: center;
    margin-bottom: 10px;
    margin: 0px 15% 10px;
}

.flex {
    display:flex
}
.inline {
    display:inline
}

.site-title {
    margin: 50px 50px 25px;
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
    width: fit-content;
    margin-inline: auto;
}

.title-wrapper {
    align-items: center;
}
.page-subheader {
    max-width: 60%;
    display: inline-block;
}
.mb8 {
    margin-bottom: 8px;
}
.mt0 {
    margin-top: 0px;
}


@media(max-width: 800px){ 
    .split {
        flex-direction: column;
    }
}

footer {margin-top: 15%; margin-bottom: 15px; text-align: center;}
#badges-80-15 {margin-top: 15px; margin-bottom: 10px;}
#badges-large {margin-bottom: 10px; display: flex; justify-content: center; align-items: center;}
#badges-large img {margin: 0px 3px;}
#sitemap-link {margin: 5px;}

a {text-decoration: none}
a:hover {text-decoration: underline salmon; text-decoration:dashed}
h2 > a:hover, h3 > a:hover {
    /* thx @JBPrice */
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
} .squiggle:hover {
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
}

.corner-link {color: #551A8B}
.corner-link:active {color: #ee0000}
.corner-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    border: 1px gray solid;
    box-shadow: 4px 5px;
    margin-top: 10px;
}
#left-btn {margin-left: 10px}
#right-btn {right: 15px; margin-right: 10px}

.friend-card {
    background-color: oldlace;
    box-shadow: 5px 5px #551A8B;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border: 1px black solid;
} .friend-card:hover {
    box-shadow: 5px 5px black;
    background-color: mistyrose;
} .friend-card:hover .squiggle {
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
} .friend-card img {
    max-height: 320px;
    max-width: 320px;
}

.friend-container {
    display: flex;
    flex-direction: row;
} .friend-column {
    width: 40%;
    margin: auto;
} .friend-column a {
    display: contents;
}

@media(max-width: 800px){ 
    .friend-column {
        width: 80%;
    } .friend-container {
        flex-direction: column;
    }
}

.zine-card {
    margin: auto;
}
.zine-card h3 {
    margin-bottom: 5px;
} .zine-card > *{
    margin: 5px;
}
#ruined-reader-display {
    width: 80vw;
    height: 60vw;
    max-width: 106vh;
    max-height: 80vh;
}
#acab-reader-display {
    max-width: 80vw;
    max-height: 64vw;
}

/* Tumblr follow button stylings to avoid using their tracking iframe */
.social-follow-button {
    display:inline-block;
    box-sizing:border-box;
    height:20px;
    border-radius:3px;
    text-decoration:none;
    font:bold 12px "Helvetica Neue",Helvetica,Arial,Sans-serif;
    line-height:18px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.social-follow-button .social-inner {
    height:100%;
    padding:0 5px
}
.social-follow-button .social-label {
    display:inline-block;
    height:100%;
    max-width:172px;
    padding-left:6px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden
}
.social-follow-button .social-logo-container {
    float:left;
    padding-top:2px;
    width:9px
}
.social-follow-button .social-logo-svg {
    height:12px;
    fill: #fff;
}
.social-follow-button.tumblr-blue {
    background-color:#001935;
    color:#fff;
    border:1px solid #001935
}
.social-follow-button.instagram-fuchsia {
    background-color:#E1306C;
    color:#fff;
    border:1px solid #E1306C
}
.social-follow-button.discord-grey {
    background-color:#5865F2;
    color:#fff;
    border:1px solid #5865F2
}
.social-follow-button.facebook-blue {
    background-color:#1877F2;
    color:#fff;
    border:1px solid #1877F2
}
.social-follow-button.bsky-blue {
    background-color:#4387F6;
    color:#fff;
    border:1px solid #4387F6
}

.feed-container {
    display: flex;
    flex-direction: row;
} .feed-column {
    width: 40%;
    margin: auto;
} .feed-column a {
    display: contents;
}

@media(max-width: 800px){ 
    .feed-column {
        width: 80%;
    } .feed-container {
        flex-direction: column;
    }
}

.twitter-feed { 
    min-height: 500px;
    max-height: 60vh;
    width: 100%;
}

.comic-rss-feed {
    max-height: 600px;
    overflow: auto;
}

#szf-header {
    margin-top: 10%;
}

.blog-card {
    background-color: oldlace;
    box-shadow: 5px 5px #551A8B;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    width: 80%;
    border: 1px black solid;
} .blog-card:hover {
    box-shadow: 5px 5px black;
    background-color: mistyrose;
} .blog-card img {
    max-height: 320px;
    max-width: 320px;
}