h1 {color: lightcoral}
html, body {min-height: 80%}
body {
    background-color: #ffebcd;
    border: 3px hotpink dotted;
}

.split {
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    text-align: center;
}

.centered {
    text-align: center;
}

footer {margin-top: 15%; margin-bottom: 15px; text-align: center;}
#badges {margin: 15px;}

a {text-decoration: none}
a:hover {text-decoration: underline salmon; text-decoration:dashed}
h2 > a:hover, h3 > a:hover {
    /* thx @JBPrice */
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
} .squiggle:hover {
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
}

.corner-link {color: #551A8B}
.corner-link:active {color: #ee0000}
.corner-btn {
    width: 64px;
    height: 64px;
    position: absolute;
    border: 1px gray solid;
    box-shadow: 4px 5px;
    margin-top: 10px;
}
#left-btn {margin-left: 10px}
#right-btn {right: 15px; margin-right: 10px}

.friend-card {
    background-color: oldlace;
    box-shadow: 5px 5px #551A8B;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    border: 1px black solid;
} .friend-card:hover {
    box-shadow: 5px 5px black;
    background-color: mistyrose;
} .friend-card:hover .squiggle {
    background-image: url("squiggle.svg");
    padding-bottom: 2px;
} .friend-card img {
    max-height: 320px;
    max-width: 320px;
}

.friend-container {
    display: flex;
    flex-direction: row;
} .friend-column {
    width: 40%;
    margin: auto;
} .friend-column a {
    display: contents;
}

@media(max-width: 800px){ 
    .friend-column {
        width: 80%;
    } .friend-container {
        flex-direction: column;
    }
}

.zine-card h3 {
    margin-bottom: 5px;
} .zine-card > *{
    margin: 5px;
}